@use 'base/variables' as v;
@use 'base/mixins' as m;

.estudia{
    @include m.bgImage('../img/chef_bg.jpg');
    min-height: 30rem;
    padding: calc(30rem - 15rem) 0;
    text-align: center;
    &__contenido{
        color: v.$blanco;
        max-width: 50rem;
    }
    &__heading{
        font-weight: 700;
        text-transform: uppercase;
    }
    &__descripcion{
        font-size: 2.2rem;
        margin: 0;
    }
    &__enlace{
        @include m.boton(v.$primario, v.$blanco);
    }
}